.savedButton {
  position: relative;
  width: 5vw;
  height: 3vh;
  margin: 32px;
  background-color: none;
  border: 3px solid gray;
  border-radius: 4px;
}

ul {
  list-style: none;
}

.saved-container {
  position: absolute;
  top: 100%;
  left: -5.3vw;
  width: 10vw;
  border: 3px solid gray;
  border-radius: 4px;
}

.savedItem {
  width: 100%;
  padding: 4px;
  border: none;
}
