.searchbar {
  position: relative;
}

.searchbar>input {
  width: 20vw;
  height: 3vh;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}

.searchbar ul {
  position: absolute;
  left: 0;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 100;
  background-color: whitesmoke;
  width: 20vw;
}

ul>li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.searchbar:focus {
  border: 2px solid black;
  border-radius: 5px;
}

.search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 25vw;
  margin: 0;
  font-size: 0.75vw;
  border: none;
}

.search-result:hover {
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}
