.userButton {
  position: relative;
  width: 5vw;
  height: 3vh;
  margin: 32px;
  background-color: none;
  border: 3px solid gray;
  border-radius: 4px;
}

button:hover {
  background-color: lightgray;
}

ul {
  list-style: none;
}

.saved-container {
  border-radius: 4px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 10vw;
  border: 3px solid gray;
}
